.button {
    position: relative;
    border-radius: 8px;
    border: 2px solid var(--accent-color);
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--accent-color);
    transition: background-color var(--transition-duration), border-color var(--transition-duration), box-shadow var(--transition-duration);
    z-index: 1;
}

.button:hover {
    background-color: color-mix(in srgb, var(--accent-color) 80%, transparent);
    border-color: color-mix(in srgb, var(--accent-color) 100%, transparent);
    box-shadow: 0 0 0 2px color-mix(in srgb, var(--accent-color) 40%, transparent);
    cursor: pointer;
}

.button:disabled {
    color: var(--white-color);
    opacity: 0.5;
}

.button:disabled:hover {
    pointer-events: none;
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    box-shadow: none;
}
