.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.error {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: red;
    font-size: 0.9rem;
}